body {
    font-family: 'Fira Sans', sans-serif;
}
p {
    font-weight: 200;
    letter-spacing: -0.5px;
    word-spacing: -0.8px;
    line-height: 30px;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
nav .navbar-nav li a {
    color: #2E2F82 !important;
    font-weight: 300;
    letter-spacing: -0.8px;
}
nav .navbar-nav li a:hover {
    color: #10934B !important;
    font-weight: 300;
}
nav .navbar-nav li .quote {
    padding: 4px;
    background-color: #10934B;
    border-radius: 5px;
    color: white !important;
}
nav .navbar-nav li .quote:hover {
    background-color: rgb(35, 185, 103);
    color: white !important;
}
footer { 
    background: linear-gradient(0deg,#2E2F82, #10934B);
    color: white;
    padding: 25px;
}
html {
    scroll-behavior: smooth;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.hider::-webkit-scrollbar {
    display: none;
}
.hider {
    -ms-overflow-style: none;
}
.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
}
.spacer-s {
    margin-top: 15px;
    margin-bottom: 15px;
}
.jumbotron {
    font-weight: 300;
    color: white;
    background: linear-gradient(90deg,#2E2F82, #10934B);
}
.button-link {
    background: linear-gradient(180deg,rgb(19, 20, 83), rgb(6, 92, 45));
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}
.button-link:hover {
    background: #DDDDDD;
    text-decoration: none;
    color: #10934B;
}
.article {
    background: linear-gradient(180deg,#2E2F82, #10934B);
    padding: 7.5px;
    margin: 5px;
    border-radius: 10px;
}
.article p {
    color: white;
    text-align: center;
    padding: 10px;
}
.article-img {
    border-radius: 10px;
}
form {
    font-weight: 500;
}
.form-control {
    font-weight: 300;
    letter-spacing: -0.5px;
    font-size: 20px;
    border: 1.5px solid #2E2F82;
}
.btn-custom {
    background: white;
    color: #10934B;
    border: 0px;
}
.btn-custom:hover {
    background: #2E2F82;
    color: white;
    border: 0px;
}
.fader-gradient {
    background: linear-gradient(180deg, #FFFFFF, #10934B);
}